# Construindo uma função
## Objetivo: criar uma consulta rapida para uma lista de ações

### Imports

In [103]:
from pandas_datareader import data as wb
import datetime

### Construindo função

In [104]:
meuvetor = ["BIDI11.SA","WEGE3.SA","ITSA4.SA"] # Lista exemplo de consulta

In [108]:
def consultaListaDeAcoes(minhasAcoes): # Nome da ação e o parametro que ela recebe
    carteira = {}                      # Dicionario vazio para receber dados
    for acao in minhasAcoes:           #For que intera sobre as ações escolidas
        pegaAcao= wb.DataReader(acao, data_source='yahoo', start='2020-5-1')  # Comando para consultar ação
        carteira.update({ acao : pegaAcao} )         # Adicionando a ação ao dicionario
    return carteira                    # Retorna o dicionario contendo atributos como nome da ação

In [109]:
dictCarteira = consultaListaDeAcoes(meuvetor) # Realizo a funçãoo e jogo para dentro de uma variavel

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [102]:
dictCarteira['BIDI11.SA'].head(10) # consulto a ação que me importa

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-05-04  26.879999  27.389999  26.480000  27.190001  27.190001  1135200
2020-05-05  27.670000  28.440001  27.240000  27.590000  27.590000   624500
2020-05-06  27.520000  28.000000  26.980000  27.299999  27.299999   675900
2020-05-07  27.719999  27.990000  25.700001  26.219999  26.219999   576700
2020-05-08  26.020000  26.680000  25.690001  25.770000  25.770000  1038000
2020-05-11  25.510000  26.740000  25.510000  25.790001  25.790001   544300
2020-05-12  25.790001  26.200001  24.469999  25.120001  25.120001   726200
2020-05-13  25.200001  26.049999  24.930000  25.670000  25.670000   732000
2020-05-14  25.650000  26.580000  25.080000  26.580000  26.580000   943500
2020-05-15  26.020000  27.080000  25.730000  26.430000  26.430000   401300