In [1]:
#Para instalar bibliotecas
#pip install nome_da_biblioteca

In [2]:
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import pandas as pd
import numpy as np

In [3]:
empresa = 'AMZN'

In [4]:
start_date= "2019–01–01"
end_date="2019–11–30"

In [5]:
data = yf.download("AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,110.392334,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,110.268791,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,110.829552,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,112.065109,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,113.091560,33561900
...,...,...,...,...,...,...
2017-04-24,143.500000,143.949997,143.179993,143.639999,137.111542,17134300
2017-04-25,143.910004,144.899994,143.869995,144.529999,137.961105,18871500
2017-04-26,144.470001,144.600006,143.380005,143.679993,137.149704,20041200
2017-04-27,143.919998,144.160004,143.309998,143.789993,137.254684,14246300
2017-04-28,144.089996,144.300003,143.270004,143.649994,137.121063,20860400

In [7]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

### Aprimorando a função